<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Dropdown</title>
</head>
<body class="bg-gray-300">
    
    <nav class="bg-white px-6 h-20 flex items-center justify-between">
        <div class="dropdown relative">
            <button class="dropdownButton bg-blue-500 px-4 py-2 text-white text-lg rounded-md flex items-center relative hover:bg-blue-600">
                <span class="pr-2">Dropdown</span>
                <i class="dropdownIcon ri-arrow-down-s-line text-white text-lg duration-200"></i>
            </button>

            <div class="dropdownContent bg-white w-40 text-gray-900 text-md rounded-md shadow-lg absolute top-[48px] hidden">
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link1</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link2</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link3</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link4</a>
            </div>
        </div>

        <div class="dropdownHover group relative">
            <button class="dropdownHoverButton bg-blue-500 px-4 py-2 text-white text-lg rounded-md flex items-center relative hover:bg-blue-600">
                <span class="pr-2">Dropdown</span>
                <i class="dropdownHoverIcon ri-arrow-down-s-line text-white text-lg duration-200 group-hover:rotate-180"></i>
            </button>

            <div class="dropdownHoverContent bg-white w-40 text-gray-900 text-md rounded-md shadow-lg absolute top-[48px] hidden group-hover:block">
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link1</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link2</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link3</a>
                <a href="#" class="block p-2 hover:bg-gray-200 rounded-md">link4</a>
            </div>
        </div>
    </nav>

    <script>
        document.querySelector('.dropdownButton').addEventListener('click', function() {
            const dropdownContent = document.querySelector('.dropdownContent');

            dropdownContent.classList.toggle('block');
            dropdownContent.classList.toggle('hidden');

            if(dropdownContent.classList.contains('block')) {
                document.querySelector('.dropdownIcon').classList.add('rotate-180');
            } else {
                document.querySelector('.dropdownIcon').classList.remove('rotate-180');
            }
        });
    </script>
</body>
</html>