<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Form</title>
</head>
<body class="bg-gray-300 h-screen flex justify-center items-center">
    
    <form class="bg-white p-6 rounded-md shadow-lg space-y-10">
            <div class="inputBox relative">
                <input id="user" type="text" placeholder="Nome de usuário" class="peer placeholder-transparent text-lg p-3 w-80 border-[1px] border-gray-400 rounded-xl outline-none focus:ring-2 focus:ring-blue-300">
                <label for="user" class="absolute bg-white text-blue-500 font-semibold text-md top-[-14px] left-3 cursor-text peer-placeholder-shown:text-lg peer-placeholder-shown:font-normal peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[13px] peer-placeholder-shown:left-[13px] duration-100">
                    Nome de usuário
                </label>
            </div>

            <div class="inputBox relative">
                <input id="email" type="email" placeholder="Insira seu email" class="peer placeholder-transparent text-lg p-3 w-80 border-[1px] border-gray-400 rounded-xl outline-none focus:ring-2 focus:ring-blue-300">
                <label for="email" class="absolute bg-white text-blue-500 font-semibold text-md top-[-14px] left-3 cursor-text peer-placeholder-shown:text-lg peer-placeholder-shown:font-normal peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[13px] peer-placeholder-shown:left-[13px] duration-100">
                    Insira seu email
                </label>
            </div>

            <div class="inputBox relative">
                <input id="password" type="password" placeholder="Insira sua senha" class="peer placeholder-transparent text-lg p-3 w-80 border-[1px] border-gray-400 rounded-xl outline-none focus:ring-2 focus:ring-blue-300">
                <label for="password" class="absolute bg-white text-blue-500 font-semibold text-md top-[-14px] left-3 cursor-text peer-placeholder-shown:text-lg peer-placeholder-shown:font-normal peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-[13px] peer-placeholder-shown:left-[13px] duration-100">
                    Insira sua senha
                </label>
            </div>

            <div>
                <input id="checkbox" type="checkbox">
                <label for="checkbox">Lembrar minha senha.</label>
            </div>
        
        <button class="px-4 py-2 text-white font-semibold bg-blue-500 rounded-md hover:bg-blue-600">CADASTRAR-SE</button>
    </form>

    <script></script>
</body>
</html>