<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Mobile Off Canvas</title>
</head>
<body class="bg-gray-200">
    
    <nav class="bg-gray-300 h-20 px-8 flex justify-between items-center">
        <div class="text-4xl">
            LOGO
        </div>

        <div class="navLinks flex justify-between">
            <div class="top flex gap-6">
                <!--LINK-->
                <a href="#" class="text-xl text-gray-950">
                    Documentação
                </a>

                <!--LINK-->
                <a href="#" class="text-xl text-gray-950">
                    Contato
                </a>

                <!--LINK-->
                <a href="#" class="text-xl text-gray-950">
                    Sobre
                </a>
            </div>

            <div class="bottom">
                <!--LINK-->
                <a href="#" class="bg-blue-500 text-white text-xl px-4 py-2 rounded hover:bg-blue-600">
                    Começar
                </a>
            </div>
        </div>
    </nav>

</body>
</html>