<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Sidebar menu</title>
</head>
<body class="bg-gray-300">

    <div class="flex">
        <aside id="sidebar" class="md:w-16 md:translate-x-0 md:overflow-hidden bg-white w-1/2 h-screen translate-x-[-100%] fixed left-0 flex flex-col justify-between duration-200 z-50">
            <div class="top">
                <div id="openMenu" class="md:flex md:p-4 md:justify-center md:cursor-pointer hidden">
                    <i class="ri-menu-line text-2xl"></i>
                </div>

                <div id="mobileCloseMenu" class="md:hidden px-[18px] pt-4 block">
                    <i class="ri-close-line text-2xl"></i>
                </div>

                <a href="#" class="sidebarLink md:gap-8 p-2 m-2 flex items-center gap-6 rounded-md duration-150 hover:bg-gray-200 hover:text-blue-500">
                    <i class="ri-home-line md:ml-1 text-2xl"></i>
                    <span class="text-lg">Home</span>
                </a>

                <a href="#" class="sidebarLink md:gap-8 p-2 m-2 flex items-center gap-6 rounded-md duration-150 hover:bg-gray-200 hover:text-blue-500">
                    <i class="ri-task-line md:ml-1 text-2xl"></i>
                    <span class="text-lg">Tasks</span>
                </a>

                <a href="#" class="sidebarLink md:gap-8 p-2 m-2 flex items-center gap-6 rounded-md duration-150 hover:bg-gray-200 hover:text-blue-500">
                    <i class="ri-chat-1-line md:ml-1 text-2xl"></i>
                    <span class="text-lg">Messages</span>
                </a>
            </div>

            <div class="bottom">
                <a href="#" class="sidebarLink md:gap-8 p-2 m-2 flex items-center gap-6 rounded-md duration-150 hover:bg-gray-200 hover:text-blue-500">
                    <i class="ri-settings-line md:ml-1 text-2xl"></i>
                    <span class="text-lg">Settings</span>
                </a>

                <a href="#" class="sidebarLink md:gap-8 p-2 m-2 flex items-center gap-6 rounded-md duration-150 hover:bg-gray-200 hover:text-blue-500">
                    <i class="ri-logout-box-line md:ml-1 text-2xl"></i>
                    <span class="text-lg">Logout</span>
                </a>
            </div>
        </aside>

        <main class="md:ml-16 flex-1">
            <nav class="md:static bg-gray-400 h-20 px-8 flex justify-between items-center fixed top-0 w-full z-10">
                <i id="mobileOpenMenu" class="ri-menu-line md:hidden block text-2xl"></i>

                <h1 class="text-3xl">LOGO</h1>

                <div class="md:flex md:gap-2 cursor-pointer">
                    <div class="bg-gray-300 h-8 w-8 rounded-full"></div>
                    <span class=":md:flex md:items-center md:block hidden">
                        Profile
                        <i class="ri-arrow-down-s-fill"></i>
                    </span>
                </div>
            </nav>

            <span class="text-4xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ut assumenda eos doloribus fugiat adipisci consequatur, delectus eum eveniet accusantium repellat error atque, facere magni fugit in dolores minima blanditiis ullam et repudiandae recusandae. Aliquid ad repellendus magni laudantium at facere iste repellat in architecto. Vel culpa velit qui vitae accusantium, id doloremque? Quod totam explicabo pariatur cupiditate quis inventore quas eaque. Ad tenetur ipsa rem unde reprehenderit molestiae veniam!</span>
        </main>
    </div>
    
    <script>
        let sidebar = document.getElementById('sidebar');

        document.getElementById('openMenu').addEventListener('click', function() {
            const sidebarLinks = document.querySelectorAll('.sidebarLink');

            sidebar.classList.toggle('md:w-16');
            sidebar.classList.toggle('md:w-48');

            sidebarLinks.forEach(function(link) {
                link.classList.toggle('md:gap-8');
                link.classList.toggle('md:gap-5');
            });
        });

        document.getElementById('mobileOpenMenu').addEventListener('click', function() {
            sidebar.classList.remove('translate-x-[-100%]');
            sidebar.classList.add('translate-x-0');
        });

        document.getElementById('mobileCloseMenu').addEventListener('click', function() {
            sidebar.classList.remove('translate-x-0');
            sidebar.classList.add('translate-x-[-100%]');
        });
    </script>
</body>
</html>