<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Sidebar menu</title>
</head>
<body class="bg-gray-300">

    <div class="flex">

        <aside class="bg-white w-16 h-screen fixed">.</aside>

        <div class="flex-1 ml-16">
            <nav class="bg-gray-400 h-20"></nav>
        </div>

    </div>
    
</body>
</html>