<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../dist/output.css">

    <title>Sidebar menu</title>
</head>
<body class="bg-gray-300">

    <div class="flex">
        <aside id="sidebar" class="bg-white w-16 h-screen fixed overflow-hidden z-50 duration-300">
            <span onclick="activeMenu()" class="flex justify-center items-center p-4 cursor-pointer">
                <i class="ri-menu-line text-2xl"></i>
            </span>

            <div class="asideLinks font-mulish flex flex-col justify-between" style="height: calc(100% - 64px);">
                <div class="top">
                    <a href="#" class="navLink flex items-center m-2 p-2 rounded-lg hover:bg-gray-200 hover:text-blue-500">
                        <i class="ri-home-5-line text-xl pl-[5px]"></i>
                        <span class="text-lg ml-10 duration-200">
                            Home
                        </span>
                    </a>
    
                    <a href="#" class="navLink flex items-center m-2 p-2 rounded-lg hover:bg-gray-200 hover:text-blue-500">
                        <i class="ri-notification-2-line text-xl pl-[5px]"></i>
                        <span class="text-lg ml-10 duration-200">
                            Notification
                        </span>
                    </a>
    
                    <a href="#" class="navLink flex items-center m-2 p-2 rounded-lg hover:bg-gray-200 hover:text-blue-500">
                        <i class="ri-message-line text-xl pl-[5px]"></i>
                        <span class="text-lg ml-10 duration-200">
                            Message
                        </span>
                    </a>
                </div>
    
                <div class="bottom">
                    <a href="#" class="navLink flex items-center m-2 p-2 rounded-lg hover:bg-gray-200 hover:text-blue-500">
                        <i class="ri-settings-3-line text-xl pl-[5px]"></i>
                        <span class="text-lg ml-10 duration-200">
                            Settings
                        </span>
                    </a>
                </div>
            </div>
        </aside>
      
        <div id="content" class="flex-1 ml-16 translate-x-0 duration-300">
            <nav class="flex justify-between items-center px-8 bg-gray-400 h-20">
                <div class="logo">
                    <h1 class="text-4xl">LOGO</h1>
                </div>

                <div class="navlinks">
                    <a href="#">item</a>
                </div>
            </nav>

            <main class="text-8xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ipsum. Tempora, dignissimos numquam sequi corporis distinctio consequatur suscipit? Obcaecati maiores praesentium debitis vero dolor facilis commodi impedit? Et sunt ad ut quaerat similique obcaecati dolorem expedita saepe quas maxime aliquam corrupti voluptatem neque optio asperiores amet aspernatur, necessitatibus odit commodi!
            </main>
        </div>
    </div>      
    
    <script>
        function activeMenu() {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('content');
            const navLinks = document.querySelectorAll('.navLink');

            content.classList.toggle('translate-x-0');
            content.classList.toggle('translate-x-32');

            sidebar.classList.toggle('w-16');
            sidebar.classList.toggle('w-48');

            navLinks.forEach(navLink => {
                const span = navLink.querySelector('span');

                span.classList.toggle('ml-10');
                span.classList.toggle('ml-5');
            });
        };
    </script>
</body>
</html>